[submodule "processing"]
	path = processing
	url = https://github.com/DHI-GRAS/ESA_Processing.git
[submodule "openlayers_plugin"]
	path = openlayers_plugin
	url = https://github.com/sourcepole/qgis-openlayers-plugin.git
[submodule "pointsamplingtool"]
	path = pointsamplingtool
	url = https://github.com/borysiasty/pointsamplingtool.git
[submodule "processing_gpf"]
	path = processing_gpf
	url = https://github.com/DHI-GRAS/processing_gpf.git
[submodule "processing_workflow"]
	path = processing_workflow
	url = https://github.com/DHI-GRAS/processing_workflow.git
[submodule "processing_SWAT"]
	path = processing_SWAT
	url = https://github.com/DHI-GRAS/processing_SWAT.git
[submodule "temporalprofiletool"]
	path = temporalprofiletool
	url = https://github.com/DHI-GRAS/Temporal_profile_tool.git
[submodule "valuetool"]
	path = valuetool
	url = https://github.com/etiennesky/valuetool.git
[submodule "mikecprovider"]
	path = mikecprovider
	url = https://github.com/DHI-GRAS/mikecprovider.git
